<%= link_to 'Home', root_path %>
<div style="margin: auto; width: 20vw;">
  <div style="padding: 10px; border: 2px solid aqua; margin-bottom: 10px;">
    <h3>
      <%= @pet.name %>
    </h3>
    <p><%= @pet.address %></p>
    <p><%= @pet.species %></p>
  </div>
</div>