<h1>Pets#show</h1>
<p>Find me in app/views/pets/show.html.erb</p>

 <div class="p-3 mb-3 border w-25">
    <%= @pet.name %>
    <%= @pet.address %>
    <%= @pet.species %>
    <%= @pet.found_on %>
</div>